<div class="container-fluid" style="height: 90vh; text-align: center">
	<h2>Información</h2>
	<div
		class="d-flex p-2 flex-wrap justify-content-around align-items-center"
		id="info"
	>

	</div>
</div>