<div
	class="card mt-3"
	id="signup-card"
	style="width: 25rem; border-radius: 8px; box-shadow: 0px 7px 21px 6px rgba(0,0,0,0.75);"
>
	<div class="card-body d-flex flex-column">

		<h5 class="mb-3" style="text-align: center;">Registrate!</h5>
		<div id="signup-card-error"></div>

		<div class="form-floating mb-3">
			<input type="email" class="form-control" id="registerEmail" />
			<label for="floatingInput">Email</label>
		</div>
		<div class="form-floating mb-3">
			<input
				type="email"
				class="form-control"
				id="registerConfirmEmail"
			/>
			<label for="floatingInput">Confirmar email</label>
		</div>
		<div class="form-floating">
			<input
				type="password"
				class="form-control"
				id="registerPassword"
				onblur="validateEmail()"
			/>
			<label for="floatingPassword">Contraseña</label>
		</div>
		<div class="mt-3 align-self-center">
			<p style="margin: 0;">
				Ya tenés una cuenta? Ingresá
				<a href="/login">acá</a>
			</p>
		</div>
		<button
			class="btn btn-primary mt-3 w-75 align-self-center"
			type="button"
			onclick="registerUser()"
		>Registrarse</button>
	</div>
</div>